.venv

node_modules
dist
tmp

.DS_Store

/.phpunit.cache
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
/auth.json
/.vscode
